@charset "utf-8";

.gradually {
	margin: 0px;
	padding: 10px;
	background: #000000;
	width: 650px;
	height: 275px;
}

.gradually .source {
	position: absolute;
	margin: 0px;
	padding: 0px;
}

.gradually .frame {
	position: absolute;
	margin: 0px auto;
}
