@charset "utf-8";

.gradually {
	background: #cccccc;
	margin: 0px;
	padding: 10px;
}

.gradually ul {
	list-style: none;
	position: absolute;
	margin: 0px;
	padding: 0px;
}

.gradually  ul li {
	position: absolute;
	margin: 0px;
	padding: 0px;
}

.gradually ul:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
