@charset "utf-8";

div#container {
	width: 650px;
	padding: 10px;
	background: #000000;
}

.gradually {
	margin: 0px;
	height: 275px;
}

.gradually .source {
	position: absolute;
	margin: 0px;
	padding: 0px;
}

.gradually .frame {
	position: absolute;
	margin: 0px auto;
}

p.information {
	background: #000000;
	text-align: right;
	color: #ffffff;
}
